{% extends "page.html" %}
{% if announcement_home %}
  {% set announcement = announcement_home %}
{% endif %}

{% block main %}

<div class="container">
  <div class="row">
    <div class="text-center">
      {% if default_server.active %}
        <a id="stop" role="button" class="btn btn-lg btn-danger">
          Stop My Server
        </a>
      {% endif %}
      <a id="start" role="button" class="btn btn-lg btn-primary" href="{{ url }}">
      {% if not default_server.active %}Start{% endif %}
      My Server
      </a>
      {% if default_server.is_update_available is defined %}
      {% if default_server.is_update_available() %}
      <a id="start" role="button" class="btn btn-lg btn-primary" 
        onclick="fetch('{{ base_url }}api/users/{{ user.name }}/server', {'method': 'DELETE'})
                  .then(() => { fetch('{{ base_url }}api/users/{{ user.name }}/server', {'method': 'POST', 'body': JSON.stringify({'update': true})}); window.setTimeout(() => location.reload(), 1500);})">
      Update Workspace
      </a>
      {% endif %}
      {% endif %}
    </div>
  </div>
  {% if allow_named_servers %}
  <h2>
  Named Servers
  </h2>

  <p>
  In addition to your default server,
  you may have additional {% if named_server_limit_per_user > 0 %}{{ named_server_limit_per_user }} {% endif %}server(s) with names.
  This allows you to have more than one server running at the same time.
  </p>

  {% set named_spawners = user.all_spawners(include_default=False)|list %}

  <script>
      let onAddServerClick = (self, event) => {
            // copied some event listener code from home.js
            // prevent the original event listener (defined in home.js) from firing
            event.stopImmediatePropagation();
            let row = $(self).parent();
            let serverName = row.find(".new-server-name").val();

            // the server name must not be empty and must not contain DNS-incompatible characters
            if (serverName === '' || !/^[a-zA-Z0-9\-]+$/.test(serverName)) {
              alert('Server name cannot be empty');
              return;
            }

            let serverUser = row.find(".new-server-user");
            let user = window.jhdata.user; // copied from home.js
            if (serverUser.length === 1) {
                user = serverUser.val();
            }
            window.location.href = "../spawn/" + user + "/" + serverName;
      }
  </script>

  <table class="server-table table table-striped">
    <thead>
      <tr>
        <th>Server name</th>
        <th>URL</th>
        <th>Last activity</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr class="home-server-row add-server-row">
        <td colspan="4">
          <!-- Set a maxlength since the container name may not exceed 63 characters (used as DNS name) -->
          <input class="new-server-name" placeholder="Name your server" maxlength="25">
          <a role="button" class="new-server-btn" class="add-server btn btn-xs btn-primary" onclick="onAddServerClick(this, event)">
            Add New Server
          </a>
        </td>
      </tr>
      {% for spawner in named_spawners %}
      <tr class="home-server-row" data-server-name="{{ spawner.name }}" data-user="{{ user.name }}">
        {# name #}
        <td>{{ spawner.name }}</td>
        {# url #}
        <td>
          <a class="server-link {% if not spawner.ready %}hidden{% endif %}" href="{{ user.server_url(spawner.name) }}">
            {{ user.server_url(spawner.name) }}
          </a>
        </td>
        {# activity #}
        <td class='time-col'>
          {% if spawner.last_activity %}
          {{ spawner.last_activity.isoformat() + 'Z' }}
          {% else %}
          Never
          {% endif %}
        </td>
        {# actions #}
        <td>
          <a role="button" class="stop-server btn btn-xs btn-danger{% if not spawner.active %} hidden{% endif %}" id="stop-{{ spawner.name }}">stop</a>
          <!-- Replaced the href attribute with the onclick logic, because for a stopped container it does not make sense to fill out the spawner options again as they are not respected
              anyways and just the old container is restarted with the old options. Hence, trigger the start command and then switch to the spawn page of the container.-->
          <!-- href="{{ base_url }}spawn/{{ user.name }}/{{ spawner.name }}" -->
          <a role="button" class="start-server btn btn-xs btn-primary {% if spawner.active %} hidden{% endif %}" id="start-{{ spawner.name }}"
            onclick="fetch('{{ base_url }}api/users/{{ user.name }}/servers/{{ spawner.name }}', {'method': 'POST'}).then(() => {window.location.href = '{{ prefix }}user/{{ user.name }}/{{ spawner.name }}';})"
          > 
            start
          </a>
          <a role="button" class="delete-server btn btn-xs btn-danger{% if spawner.active %} hidden{% endif %}" id="delete-{{ spawner.name }}">delete</a>
          <a role="button" class="info-server btn btn-xs btn-primary" onclick="showWorkspaceInfo(this, '{{ spawner.get_workspace_config() if spawner.get_workspace_config is defined }}')">
            info
          </a>
          <a role="button" class="ssh-server btn btn-xs btn-primary{% if not spawner.active %} hidden{% endif %}">
            ssh access
          </a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}
  {% if user.admin %}
  <div style="width: fit-content; color: grey;">
    To see all started workspaces, also for other users, click on the admin tab on the top.
  </div>
  {% endif %}
{% endblock %}

{% block script %}
{{ super() }}
<script type="text/javascript">
require(["home"]);

// load users from JupyterHub to let admins spawn named servers for existing users
// unfortunately, we cannot determine easily whether or not the current user is an admin user, so just fire the request and 
// handle the status code
$(document).ready(() => {
    fetch("{{ base_url }}api/users")
        .then(res => {
            // non-admin users will get a forbidden status code
            if (!res.ok) {
                throw Error(res.statusText);
            }
            return res.json();
        })
        .then(res => {
            // only create the select element and insert it into the DOM when request was successful
            let select = $("<select>", {class: "new-server-user"});
            $.each(res, function (i, item) {
                select.append($('<option>', { 
                    value: item.name,
                    text : item.name 
                }));
            });

            // add the user dropdown before the name-server input field to the left
            select.insertBefore(".new-server-name");
            // some UI sugar
            $('<span> / </span>').insertBefore(".new-server-name");

        }).catch(() => {});
});
</script>

{% include 'ssh-dialog-snippet.html' %}

{% include 'info-dialog-snippet.html' %}

{% include 'version-number-snippet.html' %}

{% endblock %}
